In [1]:
import pandas as pd
import matplotlib

In [2]:
df = pd.read_csv("data.csv", sep=",")
df.head(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-04-06,308.839996,311.350006,305.250000,306.260010,17335200,0,0
1,2021-04-07,306.339996,314.250000,305.500000,313.089996,22855200,0,0
2,2021-04-08,314.850006,315.880005,310.049988,313.019989,20894100,0,0
3,2021-04-09,311.399994,314.739990,310.329987,312.459991,15988600,0,0
4,2021-04-12,311.049988,312.149994,307.929993,311.540009,10881900,0,0
5,2021-04-13,312.209991,314.429993,309.320007,309.760010,14036900,0,0
6,2021-04-14,307.299988,308.029999,301.950012,302.820007,17421400,0,0
7,2021-04-15,306.339996,310.140015,304.100006,307.820007,14558300,0,0
8,2021-04-16,308.170013,308.950012,304.609985,306.179993,13059200,0,0
9,2021-04-19,305.010010,307.700012,300.559998,302.239990,14553500,0,0

In [ ]:
plot(df['Date'], df['Close'])